/*  Styles for input*/

.enter_message {
    background-color: #D3D3D3;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 0px;
    box-shadow: 0 0 30px 15px #f5f5f5; 
}

#name {
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    margin: 15px 0 0 25px;
    margin-left: 25px;
    width: 92%;
    padding-left: 15px;
    font: 16px sans-serif;
}

#textarea-wrap{
    overflow: hidden;
    width: 92%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    background-color: #fff;
    position: relative;
    left: 24px;
    top: 10px;

}

#textarea_message {
    font-size: 16px;
    overflow-y: scroll;
    outline: none;
    resize: none;
    width: 85%;
    height: 50px;
    padding: 15px 0 0 15px;
    border: none;
}

#textarea_message::placeholder {
    font-size: 16px;
}

