#upload_btn {
    width: 40px;
    height: 40px;
    background: url('/images/upload_light.png') no-repeat;
    position: absolute;
    top: 67px;
    left: 539px;
}

#upload_btn:hover {
    background: url('/images/upload_dark.png') no-repeat;
    position: absolute;
    top: 63px;
    left: 540px;
}

#upload_window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    background-color: #00000080;
}

#upload_model {
    background-color: #e8e7e7;
    margin: 15% auto;
    width: 25%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 200px;
    border-radius: 5px;
    animation-name: uploadmodalopen;
    animation-duration: 1s;
}

.model_header p {
    margin: 50px 0 0 30px;
    font-size: 22px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file_name {
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    width: 62%;
    padding: 10px;
    margin-left: 10px;
    outline: none;
    border: none;
    position: relative;
    left: 10px;
    top: 10.5px;
    text-align: center;
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.inputfile+label {
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 10px;
    font: 15px sans-serif;
    background-color: #A9A9A9;
    color: #000;
    border-radius: 4px;
    position: relative;
    left: 10px;
    top: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.inputfile+label:hover {
    background-color: #3a9ad2;
    color: white;
}

#submit_file_btn {
    margin: 26px 0 0 117px;
    padding: 12px 30px;
    color: #fff;
    background-color: #7300e6;
    border-radius: 5px;
    font-size: 22px;
    outline: none;
}

#submit_file_btn:hover {
    cursor: pointer;
    background-color: #9347de;
}

#close_upload_btn {
    float: right;
    color: #C0C0C0;
    font-size: 25px;
    right: 15px;
    position: relative;
}

#close_upload_btn:hover {
    color: #696969;
    cursor: pointer;
}

.more_files_error {
    display: none;
    color: red;
    position: relative;
    left: 70px;
    top: 5px;
}

.more_files_error p {
    font-size: 16px;
}

#image_main_div{
    overflow-x: scroll;
    position: relative; 
    top: 15px;
    left: 30px;
}


.image_preview {
    position: relative;
    float: left;
    width: 10%;
    height: 26%;
    margin-right: 10px;
    border: 1px solid #A9A9A9;
    overflow: hidden;
    border-radius: 5px;
}

.delete_image {
    color: #f5f5f5;
    border-radius: 20px;
    border: 0.5px solid #f5f5f5;
    width: 10px;
    padding: 1px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    float: right;
    position: relative;
    top: 1.5px;
    right: 1.5px;
}

.delete_image p {
    font-size: 12px;
    position: relative;
    left: 0.8px;
    top: -0.3px;
}

.delete_image:hover {
    cursor: pointer;
    color: 	#000;
    border: 0.5px solid	#484848;
    background-color:  rgba(255, 251, 251, 0.3);
}

img {
    width: 100%;
}

@keyframes uploadmodalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
